section{
    padding: 20px;
    margin: 20px 0;
    max-width: 1000;
    margin-left: auto;
    margin-right: auto;
}
body{
    font-family: Arial, sans-serif;
    line-height: 2.0;
}
#about{
    background-color:rgb(225, 206, 206);
    padding: 20px;
    border-radius: 20px; 
}
#about{
    text-align:center
}
.Back{
    color: rgb(0, 157, 255);
    cursor: pointer;
    text-decoration: underline;
    margin-left: 20px;
}
.Back:hover{
    color: rgb(255, 38, 0);
}
.logo{
    display: fixed;
    width: 101px;
    height:95px;
    border-radius: 50%;
    object-fit:cover;
    margin-top: 10px;
}